* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #333;
  color: whitesmoke;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 10% 10%;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
  border-radius: 10px;
  padding: 5px;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: purple;
  color: whitesmoke;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav a, nav a:visited {
  color: #fff;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  text-decoration: underline;
}


header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: purple;
  color: whitesmoke;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav a, nav a:visited {
  color: #fff;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  text-decoration: underline;
}

main {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 1em;
}

article {
  margin: 0.5em 0.5em 0.5em 0;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  margin-bottom: 1rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

.postCredit {
  font-size: 1rem;
}

.postCredit a, 
.postCredit a:visited {
  margin-right: 0.5rem;
  color: black;
}

.postCredit a:hover, 
.postCredit a:focus {
  color: hsla(0, 0%, 0%, 0.75);
}

.excerpt {
  font-style: italic;
}

.post-author{
  font-weight: bold;
  text-decoration: underline;
}

.time{
  float: right;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
}

.enabled{
  border-radius: 10px;
  background: green;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.disabled{
  border-radius: 10px;
  background: gray;
  color: white;
  padding: 10px;
  cursor: pointer;
}


.deleteButton {
  background-color: palevioletred;
  color: white;
}

.link{
  color: rgb(69, 251, 69);
}